@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle-right {
  @apply w-0 h-0 border-t-transparent border-b-transparent;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  margin-left: 3px;
  border-left-color: black;
}

.triangle-left {
  @apply w-0 h-0 border-t-transparent border-b-transparent;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 14px;
  margin-right: 3px;
  border-right-color: black;
}
