@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle-right {
  @apply w-0 h-0 border-t-transparent border-b-transparent;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  margin-left: 3px;
  border-left-color: black;
}

.triangle-left {
  @apply w-0 h-0 border-t-transparent border-b-transparent;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 14px;
  margin-right: 3px;
  border-right-color: black;
}

/* styles/globals.css */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Semitransparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


